---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro'
import Presentacion from '../components/Presentaci칩n.astro'
import Opiniones from '../components/Opiniones.astro'
---

<Layout title="Tajara">
<section>

	
	<div class="h-screen flex flex-col relative">
		
		<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
		
			<Portada title="Tajara" texto="Un lugar m치gico donde se funde el arte y la naturaleza." imagen="/portadainicio.webp"/>
		
		<div class="flex-1 p-10 m-auto relative z-0"></div>
	</div>
	</section>
	<section class="memorias" >

	
		<div class="h-screen flex flex-col relative">
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<!-- mini presentaci칩n -->
			<Presentacion/>
			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</div>
		</section>
		
		<section >
		<div class="h-screen flex flex-col relative">
			
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<!-- Opiniones -->
			<Opiniones/>

			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</div>
		</section>
		<div class="flex justify-center mb-20">  
            <div class="bg-primaryDark text-secondaryLight p-2 rounded-lg ">
                <a href="/contacto" class="text-2xl">Ap칩yanos</a>
            </div>
        </div>
</Layout>


