---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro'
---

<Layout title="Tajara">
<section>

	
	<div class="h-screen flex flex-col relative">
		
		<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
		<!-- Componente portada -->
		<Portada/>
		<div class="flex-1 p-10 m-auto relative z-0"></div>
	</section>
	<section>

	
		<div class="h-screen flex flex-col relative">
			
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<!-- mini presentación -->
			
			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</section>
		<div class="h-screen flex flex-col relative">
			
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<!-- Opiniones -->
			
			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</section>
</Layout>


