---
import Layout from '../layouts/Layout.astro';
import Portada from '../components/Portada.astro'
import Presentacion from '../components/Presentación.astro'
import Opiniones from '../components/Opiniones.astro'
---
<Layout title="Tajara">


	
	<div class="lg:h-screen flex flex-col relative sm:h-[700px]">
		
		<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
		
			<Portada title="Tajara" texto="Adéntrate en un oasis de creatividad y conexión con la naturaleza en nuestro espacio único: donde el arte se fusiona con la magia de los árboles rescatados y la belleza de la agricultura orgánica. Descubre un mundo fascinante donde la inspiración florece y las esculturas cobran vida." imagen="/portadainicio.webp"/>
		
		<div class="flex-1 p-10 m-auto relative z-0"></div>
	</div>
	
	

	
	<div class="lg:h-screen flex flex-col relative sm:h-[1200px]">
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<Presentacion/>
			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</div>
	
		
		
			<div class="lg:h-screen flex flex-col relative sm:h-[700px]">
			
			<div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
			<Opiniones/>

			<div class="flex-1 p-10 m-auto relative z-0"></div>
		</div>
		</section>
		<div class="flex justify-center mb-20">  
            <div class="bg-primaryDark text-secondaryLight p-2 rounded-lg ">
                <a href="/contacto" class="text-2xl">Apóyanos</a>
            </div>
        </div>
</Layout> 


 

 