---
import Layout from '../layouts/Layout.astro'
import Tajara from '../components/Tajara.astro'
import Marisa from '../components/Marisa.astro'
import Ricardo from '../components/Ricardo.astro'
---

<Layout title="Tajara">
    <section>
        <div class="h-screen flex flex-col relative">
		
            <div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
            <Tajara/>
            <div class="flex-1 p-10 m-auto relative z-0"></div>
        </div>
    </section>
    <section>
        <div class="h-screen flex flex-col relative">
		
            <div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
            
            <Marisa/>
            <div class="flex-1 p-10 m-auto relative z-0"></div>
        </div>
    </section>
    <section>
        <div class="h-screen flex flex-col relative">
		
            <div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
        
            <Ricardo/>
            <div class="flex-1 p-10 m-auto relative z-0"></div>
        </div>
    </section>
</Layout>