---
import Layout from "../layouts/Layout.astro"
import Portada from "../components/Portada.astro"
import Servicio from '../components/Servicio.astro'
import listaServicios from '../servicios.json'
---

            
            
<Layout title="Tajara - Servicios">
    <section>
        <div class="h-screen flex flex-col relative">
            
            <div class="flex-1 bg-secondaryLight h-90vh relative z-10  sm:flex- sm:z-0"></div>
            
                <Portada title="Servicios" texto="Descubre una variedad de experiencias en Tajara, donde cada servicio es una oportunidad para conectarte con la belleza de la naturaleza y tu creatividad. Estamos aquí para inspirarte en cada paso del camino hacia una vida más consciente y sostenible." imagen="/portadaServicios.jpg" />
            
            <div class="flex-1 p-10 m-auto relative z-0"></div>
        </div>
        </section>
        <section>
            <div class="bg-secondaryLight flex flex-row flex-wrap justify-center items-center p-16">
                {listaServicios.map(servicio =>{
                    return <Servicio id={servicio.id} title={servicio.title} imagen={servicio.imagen} />
                })}
            </div>
        </section>
        <div class="flex justify-center m-20">  
            <div class="bg-primaryDark text-secondaryLight p-2 rounded-lg ">
                <a href="/contacto" class="text-2xl">Apóyanos</a>
            </div>
        </div>
</Layout>