 <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white max-w-max p-8 m-auto rounded-2xl flex lg:flex-row sm:flex-col shadow-2xl sm:w-11/12">
    <div class="lg:w-[600px] sm:w-[600px] lg:border-r-2 lg:border-b-0 sm:border-b-2 p-2 ">
        <h1 class="lg:text-6xl sm:text-7xl text-primaryDark font-medium m-5">Donaciones</h1>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Bienvenidos a Tajara Arte y Naturaleza</h2>
            <p class=" sm:text-2xl lg:text-base text-secondaryDark">En Tajara, no solo te invitamos a visitar nuestro jardín; te invitamos a sumergirte en una experiencia única donde la pasión por la naturaleza se entrelaza con el conocimiento y la acción. Aquí, cada momento es una oportunidad para conectar profundamente con el entorno natural que nos rodea, mientras te maravillas con la belleza del arte que lo acompaña. En Tajara, no solo encontrarás entretenimiento, sino una puerta abierta hacia un mundo de conexión auténtica y significativa con la naturaleza, donde el arte y la naturaleza convergen para ofrecerte una experiencia verdaderamente enriquecedora.</p>
        </div>       
    </div>
    <div class="p-2">
        <h1 class="lg:text-6xl sm:text-7xl text-primaryDark font-medium m-5">Contactanos</h1>
        <div class="flex flex-col text-secondaryDark opacity-70 w-fit m-5">
            <div class="flex flex-row m-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin lg:w-5 sm:w-10"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                    <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                  </svg>
                <a href="https://maps.app.goo.gl/vEN6YL583h8a2TNn8" class="lg:text-xl sm:text-2xl" target="_blank">Tabio, Cundinamarca</a>
            </div>
            <div class="flex flex-row m-2 items-center">
                
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call lg:w-5 sm:w-10"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                    <path d="M15 7a2 2 0 0 1 2 2" />
                    <path d="M15 3a6 6 0 0 1 6 6" />
                  </svg>    
                <a href="https://wa.me/3163302876" class="lg:text-xl sm:text-2xl">316 3302876</a>
            </div>
            <div class="flex flex-row m-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at lg:w-5 sm:w-10"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28" />
                  </svg>
                <a href="mailto:tajaraarteynaturaleza@gmail.com" class="lg:text-xl sm:text-2xl">tajaraarteynaturaleza@gmail.com </a>
            </div>
        </div>
    </div>
</div>

<style>
    .info {
        width: 100%; 
        max-width: 600px; 
        margin: auto; 
        border-right: 2px solid #414142;
    }
</style>


 
