<!-- <footer class="bg-secondaryLight bg-opacity-30 flex flex-col justify-center items-center p-5">
    <img src="/logo2.png" alt="logo" class="w-32">
    <div class="pb-6 flex flex-row" >
        <a href="https://www.instagram.com/tajara_arteynaturaleza/" target="_blank">
            <svg  class=" bg-primaryDarkicon icon-tabler icon-tabler-brand-instagram" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg>
        </a>
        <a href="https://www.facebook.com/Tajaraarteynaturaleza" target="_blank">
              <svg class="icon icon-tabler icon-tabler-brand-facebook" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
        </a>
        <a href="https://www.tiktok.com/@tajaratabioarteyn?_t=8kKFgt7jTxW&_r=1" target="_blank">
            <svg class="icon icon-tabler icon-tabler-brand-tiktok" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
          </svg>
        </a>
        
    </div>
</footer> -->

<footer class="bg-secondaryLight bg-opacity-30 flex flex-col justify-center items-center lg:p-5 sm:p-2">
    <img src="/logo2.png" alt="logo" class="w-32">
    <div class="pb-6 flex flex-row">
        <a href="https://www.instagram.com/tajara_arteynaturaleza/" target="_blank">
            <svg class="icon-tabler icon-tabler-brand-instagram w-5 h-5  lg:w-7 lg:h-7" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
            </svg>
        </a>
        <a href="https://www.facebook.com/Tajaraarteynaturaleza" target="_blank">
            <svg class="icon-tabler icon-tabler-brand-facebook w-5 h-5 lg:w-7 lg:h-7" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
        </a>
        <a href="https://www.tiktok.com/@tajaratabioarteyn?_t=8kKFgt7jTxW&_r=1" target="_blank">
            <svg class="icon-tabler icon-tabler-brand-tiktok w-5 h-5  lg:w-7 lg:h-7" viewBox="0 0 24 24" stroke-width="1.5" stroke="#BC5527" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
            </svg>
        </a>
    </div>
</footer>
