<div class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white max-w-max p-10 m-auto rounded-2xl flex flex-row shadow-2xl">
<div class="border-r-2 p-4  border-secondaryDark">
    
    <form action="" class="flex flex-col m-5">
        <h1 class="text-primaryDark text-4xl font-medium mb-8" >Envianos un mensaje</h1>
        <div class="flex flex-row">
            <div class="flex flex-col m-2">
                <label for="" class="text-2xl text-secondaryDark">Nombre</label>
                <input type="text" class=" border-b-2 border-secondaryDark p-2 w-56 h-8">
            </div>
            <div class="flex flex-col m-2">
                
                
                <label for="" class="text-2xl text-secondaryDark">Apellido</label>
                <input type="text"  class="border-b-2 border-secondaryDark p-2 w-56 h-8">
            </div>
        </div>
        <div class="flex flex-col m-2">
            
            <label for="" class="text-2xl text-secondaryDark">Correo</label>
            <input type="text"  class="border-b-2 border-secondaryDark p-2 w-80 h-8">
        </div>
        <div class="flex flex-col m-2">
            
            <label for="" class="text-2xl text-secondaryDark">Mensaje</label>
            <input type="text"  class="border-b-2 border-secondaryDark p-2 w-96">
        </div>
        <button class='ml-auto m-2'>
            <img src="/enviar.png" alt="boton envio" >
        </button>
    </form>
</div>
<div class="p-5 m-2">
    <h1 class="text-primaryDark text-4xl">Información de contato</h1>
    <div class="flex flex-col items-center justify-center text-xl text-secondaryDark m-20">
        <div class="flex flex-row m-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
              </svg>
            <h2>Calle # #-#</h2>
        </div>
        <div class="flex flex-row m-2">
            
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                <path d="M15 7a2 2 0 0 1 2 2" />
                <path d="M15 3a6 6 0 0 1 6 6" />
              </svg>    
            <h2>123456789</h2>
        </div>
        <div class="flex flex-row m-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-at w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28" />
              </svg>
            <h2>tajara@gmail.com</h2>
        </div>
    </div>
    <div class="flex flex-row items-center justify-center">
        <a href="https://www.instagram.com/tajara_arteynaturaleza/" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
            </svg>
        </a>
        <a href="https://www.facebook.com/Tajaraarteynaturaleza" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
            </svg>
        </a>
        <a href="https://www.tiktok.com/@tajaratabioarteyn?_t=8kKFgt7jTxW&_r=1" target="_blank">

            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tiktok w-8"  viewBox="0 0 24 24" stroke-width="1.5" stroke="#414142" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" />
            </svg>
        </a>
    </div>
</div>
</div>