

<div class="absolute inset-0 flex items-center lg:ml-28">
    <div class="max-w-max p-10 mt-8 rounded-2xl flex flex-row relative justify-center">
        <div class="custom-container flex flex-col justify-center lg:w-[600px] lg:h-[500px] sm:w-[600px] sm:h-[700px]">
            <h1 class="text-5xl text-primaryDark  m-2">Maria Isabel Guerrero</h1>
            <h2 class="text-lg text-secondaryDark m-2">Emprendedora Ambiental y Defensora de la Naturaleza</h2>
            <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl">

                Marisa ha dedicado 22 años de su vida a cambiar sus hábitos de consumo y estilo de vida, con el objetivo de minimizar su impacto negativo en la naturaleza. Su pasión por el medio ambiente la llevó a unirse a Ricardo hace una década en una aventura ambiental conjunta.</p>
                
               <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl"> Aunque al principio carecía de experiencia en el cuidado de las plantas, Marisa encontró en Ricardo un mentor que la guió en el camino de la jardinería y la ecología. Juntos, aprendieron a cuidar las plantas y a contribuir al equilibrio natural del ecosistema.</p>
                
               <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl"> Hoy en día, Marisa se dedica a promover la armonía entre el ser humano y la naturaleza, a través de pequeñas acciones que generan un impacto positivo en el medio ambiente. Desde convertir desechos de cocina en compost hasta participar en proyectos de reforestación, Marisa demuestra que cada uno puede contribuir al cambio, empezando por su propio entorno.</p>
        </div>
        <div>
            <img src='/marisa.webp' alt="foto bonsai" class="lg:w-[520px] lg:h-[650px] rounded-xl sm:w-[450px] sm:h-[550px]">
        </div>
    </div>
</div>


<style>


.custom-container {
    position: absolute;
    top: 50%;
    right:-80% ;
    transform: translateY(-50%);
    z-index: 20;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 1rem;
}

</style> 




