---
interface Props {
    name: string,
    texto: string,
  

}
const { name, texto   } = Astro.props 
---

<div class="w-96 rounded-[20px] bg-white py-12 px-8 text-center">
    <h3 class="text-gray-900 pb-2 text-xl font-bold sm:text-2xl">{name}y</h3>
    <span class="bg-primaryDark mx-auto mb-6 inline-block h-1 w-[90px] rounded"></span>
    <p class="text-gray-500 mb-10 text-base leading-relaxed">{texto}</p>
  </div>