


<nav class="h-1280 flex flex-col lg:flex-row text-base lg:text-2xl text-primaryDark  items-center justify-center p-5">

    <div class="lg:hidden">
        <a href="/">
            <img src="/Tajara.png" alt="logo" class="w-72 m-1 mb-5">
        </a>
    </div>

    <div class="lg:flex flex-row lg:items-center lg:gap-20 uppercase sm:text-3xl "> 
        <a href="/">
            <img src="/Tajara.png" alt="logo" class="w-60 ml-24 m-1 hidden lg:inline-block"> 
        </a>
        <a class="sm:m-3" ="/">INICIO</a>
        <a  class="sm:m-3" href="/servicios">SERVICIOS</a>
        <a   class="sm:m-3"href="/nosotros">NOSOTROS</a>
    
        <div class="bg-primaryDark text-secondaryLight p-1 rounded-lg inline-block  sm:m-3">
            <a href="/apoyanos">APÓYANOS</a>
        </div>
    </div>
</nav>
