---
import Memorias from './Memorias.astro'
import opiniones from '../opiniones.json'
---

<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white p-8 rounded-2xl flex flex-col shadow-2xl " >
    <h1 class="text-6xl  text-primaryDark font-medium m-5">Opiniones</h1>
    <div class="flex flex-row m-11">
        {opiniones.map(opinion=>{
            return <Memorias name={opinion.name} texto={opinion.texto}/>
        })}
    </div>
</div>