---
import Memorias from './Memorias.astro'
import opiniones from '../opiniones.json'
---

<div class="slider-container">
    <h1 class="text-6xl text-primaryDark font-medium m-5">Opiniones</h1>
    <div class="slider">
        <div class="opiniones">
            {opiniones.map(opinion=>{
                return <Memorias name={opinion.name} texto={opinion.texto}/>
            })}
        </div>
    </div>
</div>


<style>
    .slider-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      background-color: white;
      padding: 50px;
      border-radius: 20px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      max-width: 80%;
      overflow: hidden;
    }
  
    .slider {
      overflow-x: scroll;
      white-space: nowrap;
   
    
    }
  
    .opiniones {
      display: inline-flex;
      flex-wrap: nowrap;
    }
  

  </style>