---
import Memorias from './Memorias.astro'
---

<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white p-8 rounded-2xl flex flex-row shadow-2xl " >
    <Memorias name='Luis Guillermo Reyes' texto='La amabilidad, el trato, la paciencia y la pasión mostrada al compartir lo aprendido en su camino. Su amor por la naturaleza, específicamente por los árboles y plantas, es contagioso.' imagen='/memoria1.webp'/>
    <Memorias name='Alonso Escobar' texto='El hecho, poco común, de rescatar árboles, algunos raros y especiales. Muy bien. La visita supero mis expectativas.' imagen='/memoria2.webp'/>
    <Memorias name='Antony Mendez' texto='Me encantó aprender sobre la conservación y rescate de arboles. El estudio de arte de Ricardo es muy impresionante' imagen='/memoria3.webp'/>
</div>
