---
interface Props {
    title: string,
    texto: string,
    imagen: string,
    
}
const { title, texto, imagen } = Astro.props 
---

<div class="absolute inset-0 flex items-center justify-end lg:mr-28">
    <div class="max-w-max p-10 mt-8 rounded-2xl flex flex-row relative justify-center">
        <div class="custom-container flex flex-col justify-center">
            <h1 class="text-6xl text-primaryDark m-5 mb-2">{title}</h1>
            <h2 class="text-xl text-secondaryDark m-5">{texto}</h2>
            
           
        </div>
        <div>
            <img src={imagen} alt="foto bonsai" class="imgPortada">
        </div>
    </div>
</div>


<style>
.imgPortada {
    width: 720px;
    height: 487px;
    border-radius: 15px;
}

.custom-container {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    z-index: 20;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 1.25rem;
    border-radius: 1rem;
    width: 565px;
    height: 305px;
    
   
}

@media (max-width: 639px) {
    .imgPortada {
        width: 207px;
        height: 201px;
        border-radius: 15px;
    }

    .custom-container {
        padding: 0.5rem; /* Reduzco el padding para adaptarlo a dispositivos móviles */
        width: 216px;
        height: 118px;
    }
}
</style>

