<!-- <div class=" absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white max-w-max p-8 m-auto rounded-2xl flex flex-col shadow-2xl">
<div class="info"> 
   <h1 class="text-6xl  text-primaryDark font-medium m-5">Quienes somos</h1>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Bienvenidos a Tajara Arte y Naturaleza</h1>

            <p class="text-secondaryDark">En Tajara, no solo te invitamos a visitar nuestro jardin; te invitamos a sumergirte en una experiencia única donde la pasión por la naturaleza se entrelaza con el conocimiento y la acción. Aquí, cada momento es una oportunidad para conectar profundamente con el entorno natural que nos rodea, mientras te maravillas con la belleza del arte que lo acompaña. En Tajara, no solo encontrarás entretenimiento, sino una puerta abierta hacia un mundo de conexión auténtica y significativa con la naturaleza, donde el arte y la naturaleza convergen para ofrecerte una experiencia verdaderamente enriquecedora.</p>

        </div>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Descubre y Conecta con la Naturaleza</h2>
        <p class="text-secondaryDark" >Explora una amplia gama de actividades diseñadas para acercarte a la naturaleza de una manera auténtica y significativa. Desde aprender técnicas de rescate de árboles hasta sumergirte en el fascinante mundo de las huertas orgánicas basadas en la sabiduría ancestral, cada experiencia está diseñada para nutrir tu conexión con el medio ambiente.</p>
    
        </div>
  

   
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Nuestro Compromiso con el Planeta</h2>
            <p class="text-secondaryDark">Detrás de Tajara Arte y Naturaleza se encuentran Ricardo y Marisa, dos apasionados defensores de la naturaleza. Marisa, una ambientalista comprometida, y Ricardo, un escultor con una profunda conexión con los árboles desde una edad temprana, se unen para ofrecerte un espacio de contemplación y aprendizaje.</p>

        </div>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Educación Ambiental y Equilibrio Natural</h2>
            <p class="text-secondaryDark">En Tajara, no solo queremos inspirarte, sino también empoderarte para que tomes medidas concretas en la protección y restauración del medio ambiente. A través de nuestra oferta educativa y experiencial, compartimos conocimientos y promovemos prácticas que contribuyen al restablecimiento del equilibrio natural de nuestro planeta.
        
             Únete a nosotros en Tajara Arte y Naturaleza y descubre el poder transformador de conectar con la naturaleza mientras te sumerges en un mundo de aprendizaje, inspiración y acción ambiental.</p>
   
        </div>
    </div>
</div>

<style>
    .info{
        width: 1200px;
    }
</style>
 -->

 <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 bg-white max-w-max p-8 m-auto rounded-2xl flex flex-col shadow-2xl sm:w-11/12">
    <div class="info">
        <h1 class="text-6xl text-primaryDark font-medium m-5">Quienes somos</h1>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Bienvenidos a Tajara Arte y Naturaleza</h2>
            <p class="sm:text-xl lg:text-base text-secondaryDark">En Tajara, no solo te invitamos a visitar nuestro jardín; te invitamos a sumergirte en una experiencia única donde la pasión por la naturaleza se entrelaza con el conocimiento y la acción. Aquí, cada momento es una oportunidad para conectar profundamente con el entorno natural que nos rodea, mientras te maravillas con la belleza del arte que lo acompaña. En Tajara, no solo encontrarás entretenimiento, sino una puerta abierta hacia un mundo de conexión auténtica y significativa con la naturaleza, donde el arte y la naturaleza convergen para ofrecerte una experiencia verdaderamente enriquecedora.</p>
        </div>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Descubre y Conecta con la Naturaleza</h2>
            <p class="sm:text-xl lg:text-base text-secondaryDark">Explora una amplia gama de actividades diseñadas para acercarte a la naturaleza de una manera auténtica y significativa. Desde aprender técnicas de rescate de árboles hasta sumergirte en el fascinante mundo de las huertas orgánicas basadas en la sabiduría ancestral, cada experiencia está diseñada para nutrir tu conexión con el medio ambiente.</p>
        </div>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Nuestro Compromiso con el Planeta</h2>
            <p class="sm:text-xl lg:text-base text-secondaryDark">Detrás de Tajara Arte y Naturaleza se encuentran Ricardo y Marisa, dos apasionados defensores de la naturaleza. Marisa, una ambientalista comprometida, y Ricardo, un escultor con una profunda conexión con los árboles desde una edad temprana, se unen para ofrecerte un espacio de contemplación y aprendizaje.</p>
        </div>
        <div class="m-5">
            <h2 class="text-3xl text-primaryDark font-medium">Educación Ambiental y Equilibrio Natural</h2>
            <p class="sm:text-xl lg:text-base text-secondaryDark">En Tajara, no solo queremos inspirarte, sino también empoderarte para que tomes medidas concretas en la protección y restauración del medio ambiente. A través de nuestra oferta educativa y experiencial, compartimos conocimientos y promovemos prácticas que contribuyen al restablecimiento del equilibrio natural de nuestro planeta. Únete a nosotros en Tajara Arte y Naturaleza y descubre el poder transformador de conectar con la naturaleza mientras te sumerges en un mundo de aprendizaje, inspiración y acción ambiental.</p>
        </div>
    </div>
</div>

<style>
    .info {
        width: 100%; /* Cambiado para que sea responsivo */
        max-width: 600px; /* Ancho máximo para evitar que el contenido se estire demasiado */
        margin: auto; /* Centrar horizontalmente */
    }

    @media (min-width: 640px) {
        .info {
            max-width: 1200px; /* Ancho máximo para pantallas más grandes */
        }
    }
</style>
