

<div class="absolute inset-0 flex items-center justify-end lg:mr-28">
    <div class="max-w-max p-10 mt-8 rounded-2xl flex flex-row relative justify-center">
        <div class="custom-container flex flex-col justify-center lg:w-[600px] lg:h-[500px] sm:w-[600px] sm:h-[700px]">
            <h1 class="text-5xl text-primaryDark  m-2">Ricardo Villegas</h1>
            <h2 class="text-lg text-secondaryDark m-2">Escultor y Protector de la Naturaleza</h2>
            <div class="text-secondaryDark ">
                <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl">

                    Desde los 12 años, Ricardo ha sido un apasionado de la recuperación, propagación y conservación de los árboles. Su conexión con la naturaleza lo llevó a comenzar desde temprana edad, recuperando árboles descartados, dándoles cuidado y una segunda oportunidad en la vida.</p>
                    
                   <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl"> Su colección de bonsáis está compuesta principalmente por árboles recogidos y recuperados, y para él, su vida no sería la misma sin ellos. La presencia de estos árboles es su fuente de paz y renovación, brindándole una recarga energética única en momentos de angustia o estrés.</p>
                    
                   <p class=" text-secondaryDark m-2 lg:text-base sm:text-xl"> A diferencia de la escuela tradicional de bonsái, Ricardo adopta un enfoque más flexible, permitiendo que el estilo y el desarrollo del árbol guíen sus técnicas de trabajo con ellos. Su enfoque único ha sido objeto de críticas, pero los resultados hablan por sí mismos, convirtiendo a los críticos en admiradores de su trabajo.</p>
                </div>
        </div>
        <div>
            <img src='/ricardo.webp' alt="foto bonsai" class="lg:w-[650px] lg:h-[650px] rounded-xl sm:w-[500px] sm:h-[550px]">
        </div>
    </div>
</div>


<style>

.custom-container {
    position: absolute;
    top: 50%;
    left: -60%;
    transform: translateY(-50%);
    z-index: 20;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 1rem;
 
    
   
}
</style>

