

<div class="absolute inset-0 flex items-center justify-end lg:mr-28">
    <div class="max-w-max p-10 mt-8 rounded-2xl flex flex-row relative justify-center">
        <div class="custom-container flex flex-col justify-center lg:w-[600px] lg:h-[500px] sm:w-[600px] sm:h-[700px]">
            <h1 class="text-6xl text-primaryDark m-2">Historia de Tajara</h1>
            <h2 class="text-xl text-secondaryDark m-2">Pasión por la Naturaleza</h2>
            <div class="text-secondaryDark ">
                <p class="m-2 lg:text-base sm:text-xl ">Ricardo y Marisa, al unir sus vidas, fusionaron su amor por la naturaleza y la conservación ambiental. Marisa, activa en proyectos ambientales desde Cali, Colombia, convirtió su preocupación por el impacto humano en acciones diarias de reciclaje y reutilización de materiales. La conexión de Marisa con la naturaleza la llevó a cumplir su sueño de vivir en el campo, donde encontró equilibrio emocional y motivación para trabajar en pro del medio ambiente.</p>
                <p class="m-2 lg:text-base sm:text-xl ">Por otro lado, Ricardo, escultor inspirado por la naturaleza, combinaba su pasión artística con el cuidado meticuloso de los árboles. De su unión nació Tajara, un emprendimiento dedicado a promover el cuidado de los bonsáis y la agricultura orgánica. Con la transición al mundo virtual, Tajara amplió su alcance, ofreciendo programas en línea para que más personas disfruten de la vida en armonía con la naturaleza y consuman alimentos limpios.</p>
            </div>
        </div>
        <div>
            <img src='/portadaSomos.webp' alt="foto bonsai" class="lg:w-[720px] lg:h-[687px] rounded-xl sm:w-[550px] sm:h-[550px]">
        </div>
    </div>
</div>


<style>

.custom-container {
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    z-index: 20;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 1rem;
  
    

   
}

</style>

